<ion-header>
  <ion-toolbar>
    <ion-title>Modificar Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mensaje de carga -->
  <ion-loading
    *ngIf="loading"
    message="Cargando datos..."
    spinner="circles"
  ></ion-loading>

  <!-- Formulario, se muestra solo cuando loading es false -->
  <form *ngIf="!loading">
    <!-- Selección de Marca -->
    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-select
        [(ngModel)]="vehicle.marca"
        name="marca"
        (ionChange)="loadModels(vehicle.marca)"
        required
      >
        <ion-select-option
          *ngFor="let brand of brands"
          [value]="brand.nombre"
          >{{ brand.nombre }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <!-- Selección de Modelo -->
    <ion-item>
      <ion-label>Modelo</ion-label>
      <ion-select [(ngModel)]="vehicle.modelo" name="modelo" required>
        <ion-select-option
          *ngFor="let model of models"
          [value]="model.modelo"
          >{{ model.modelo }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <!-- Selección de Año -->
    <ion-item>
      <ion-label position="stacked">Año</ion-label>
      <ion-input
        type="text"
        name="ano"
        [(ngModel)]="vehicle.ano"
        required
        pattern="^[0-9]{4}$"
        maxlength="4"
        inputmode="numeric"
        placeholder="Ej. 2020"
      ></ion-input>
    </ion-item>

    <!-- Selección de Color -->
    <ion-item>
      <ion-label>Color</ion-label>
      <ion-select [(ngModel)]="vehicle.color" name="color" required>
        <ion-select-option *ngFor="let color of colors" [value]="color.color">{{
          color.color
        }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Entrada de Matrícula -->
    <ion-item>
      <ion-label position="stacked">Matrícula</ion-label>
      <ion-input
        type="text"
        name="patente"
        [(ngModel)]="vehicle.patente"
        required
      ></ion-input>
    </ion-item>

    <!-- Entrada de Kilometraje -->
    <ion-item>
      <ion-label position="stacked">Kilometraje</ion-label>
      <ion-input
        type="text"
        name="kilometraje"
        [(ngModel)]="vehicle.kilometraje"
        required
        pattern="^[0-9]{1,6}$"
        maxlength="6"
        inputmode="numeric"
        placeholder="Ej. 35000"
      ></ion-input>
    </ion-item>

    <!-- Sección de imágenes -->
    <ion-segment [(ngModel)]="selectedSection" name="seccion" value="frontal">
      <ion-segment-button value="frontal">
        <ion-label>Frontal</ion-label>
      </ion-segment-button>
      <ion-segment-button value="trasera">
        <ion-label>Trasera</ion-label>
      </ion-segment-button>
      <ion-segment-button value="interior">
        <ion-label>Interior</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Captura de imagen Frontal -->
    <div *ngIf="selectedSection === 'frontal'" class="aspect-ratio-16-9">
      <ion-item>
        <ion-label>Captura Frontal</ion-label>
        <ion-button expand="block" (click)="takePicture('frontal')">
          Tomar Foto
        </ion-button>
      </ion-item>
      <ion-img
        class="fixed-size"
        [src]="vehicleImages.frontal || 'assets/img/placeholder_car_front.jpg'"
      ></ion-img>
    </div>

    <!-- Captura de imagen Trasera -->
    <div *ngIf="selectedSection === 'trasera'" class="aspect-ratio-16-9">
      <ion-item>
        <ion-label>Captura Trasera</ion-label>
        <ion-button expand="block" (click)="takePicture('trasera')">
          Tomar Foto
        </ion-button>
      </ion-item>
      <ion-img
        class="fixed-size"
        [src]="vehicleImages.trasera || 'assets/img/placeholder_car_back.jpg'"
      ></ion-img>
    </div>

    <!-- Captura de imagen Interior -->
    <div *ngIf="selectedSection === 'interior'" class="aspect-ratio-16-9">
      <ion-item>
        <ion-label>Captura Interior</ion-label>
        <ion-button expand="block" (click)="takePicture('interior')">
          Tomar Foto
        </ion-button>
      </ion-item>
      <ion-img
        class="fixed-size"
        [src]="vehicleImages.interior || 'assets/img/placeholder_car_inter.png'"
      ></ion-img>
    </div>

    <!-- Botón Guardar Cambios -->
    <div class="button-container">
      <ion-button expand="block" color="primary" (click)="saveVehicle()">
        <ion-icon name="save" slot="start"></ion-icon>
        Guardar Cambios
      </ion-button>
    </div>
  </form>

  <!-- Botón Volver a Mis Vehiculos -->
  <div class="button-container">
    <ion-button expand="block" color="tertiary" [routerLink]="['/my-vehicles']">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      Volver a Mis Vehiculos
    </ion-button>
  </div>

  <!-- Botón Volver a Main -->
  <div class="button-container">
    <ion-button expand="block" color="secondary" [routerLink]="['/main']">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      Volver a Main
    </ion-button>
  </div>
</ion-content>
