.button-container {
    margin-top: 20px;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  ion-button {
    font-size: 1.2rem;
  }
  
  ion-input, ion-textarea, ion-select {
    margin-top: 10px;
  }
  

  .button-container {
    margin-top: 20px;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  ion-select {
    margin-top: 10px;
  }
  
  ion-button {
    font-size: 1.2rem;
  }
  