//@import '~@angular/material/theming';

// Incluye los temas predefinidos
@include mat-core();

$my-app-primary: mat-palette($mat-indigo);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-warn: mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// Incluye el tema en tu aplicación
@include angular-material-theme($my-app-theme);
